/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    background-image: linear-gradient( to bottom right, #3489dd, #d2dae7);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    margin: 0;
}

.container-fluid {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.header h1 {
    color: #343a40;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box i {
    font-size: 24px;
    color: #343a40;
    margin-right: 10px;
}

.form-control {
    font-size: 18px;
    border-radius: 5px 0 0 5px;
}

.input-group button {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    cursor: pointer;
}

.not-found {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.not-found img {
    width: 70%;
    max-width: 200px;
}

.not-found p {
    color: #343a40;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.weather-box img {
    max-width: 100%;
    max-height: 200px;
}

.temperature {
    color: #343a40;
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
}

.temperature span {
    font-size: 18px;
    font-weight: 400;
}

.description {
    color: #343a40;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 10px;
}

.weather-details {
    display: none;
    margin-top: 20px;
}

.unit {
    color: #343a40;
    font-size: 16px;
    font-weight: 500;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

select {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
}


.humidity span,
.wind span {
    color: #343a40;
    font-size: 20px;
    font-weight: 500;
}

/* Forecast Styles */
.forecast-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.forecast h2 {
    color: #343a40;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.forecast-item {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px 10px ;
    padding: 10px;
    height: 200px;
    display: inline-block;
    width: 200px;
}

.day {
    color: #343a40;
    font-size: 18px;
    font-weight: 500;
}

.temperature-forecast {
    color: #343a40;
    font-size: 20px;
    font-weight: 500;
    margin-top: 6px;
}

.description-forecast {
    color: #343a40;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.forecast-item img {
    max-width: 50px; 
    height: auto;
    margin: 10px auto; 
}